
/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
}

/* structure */
body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* container inside structure */
.cover-container {
    max-width: 45em;
}

/* header */

.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1.5rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

#signature {
    font-family: "Playfair Display";
}

#my-name {
    font-family: "Roboto";
    font-size: 2.25rem;
    letter-spacing: 1px;
}

#my-description {
    font-family: "Open Sans";
    font-size: 1.25rem;
}

.emoji {
    font-family: "Noto Color Emoji";
}