/* all variables here */
:root {
    /* image */
    --color-empty: #dcdcdc; 
    --profile-pic-size: 24em; 
    --logo-size: 48px;

    /* main color palette (not yet finalised) */
    --accent: #f26627;
    --light-accent: #f9a26c;
    --theme-col: #efeeee;
    --light-blue: #9bd7d1;
    --dark-blue: #325d79;
}

/* defaults */
* {
    padding: 0;
    margin: 0;
}

/* heading font setting */
h1, h2, h3, h4, h5, h6 {
    font-family: ui-sans-serif, Arial, Helvetica, sans-serif;
}

/* paragraph font setting */
p {
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: var(--light-blue);
}


/* navigation */

/* single line horizonatal block */
nav {
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    height: 64px;
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    background-color: var(--theme-col);
    box-shadow: 0 3px 8px lightgray;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    aspect-ratio: 1;
    background-color: var(--color-empty);
    height: var(--logo-size);
    width: var(--logo-size);
    transform: scaleX(-1);
    border-radius: 6px;
    margin: 0.5rem;
}

/* all nav-links here */
.nav-items {
    display: flex;
    flex-wrap: nowrap;
}

/* for various nav-links */
nav a {
    font-size: 120%;
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    margin: 0 12px;
}

nav a:hover {
    color: var(--accent);
}


/* header */

header {
    color: var(--dark-blue);
    padding: 4rem 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.profile-image-container img {
    border-radius: 50%;
    aspect-ratio: 1;
    height: var(--profile-pic-size);
    width: var(--profile-pic-size);
    border: 1px solid var(--dark-blue);
    box-shadow: 0 0 16px;
    filter: saturate(1.16);
    animation: fade-in 1s;
}

.intro {
    width: 40em;
}

.intro h1 {
    font-family: math, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid var(--accent);
    font-size: 3em;
    margin: 24px 0;
    animation: slide-left 1s ease-in-out;
}

.intro p {
    font-family: cursive;
    font-size: 1.2em;
    margin: 0 2rem;
}

